<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!--
            d - Дата/время
            p - Уровень логирования
            t - Имя потока
            C - Полное имя класса
            x - контекст
            m - сообщение
            n - /n
            -->
            <PatternLayout pattern="%d %-5p [%t] %C{2} %x - %m%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>